body{
  font-family: 'Poppins', sans-serif;
}

.bg-fruit{
  background-image: url('images/bg-gallery.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0px 60px 0px;
  margin-bottom: 4em;
}
.bg-title{
  text-shadow: 6px 5px 10px rgba(0,0,0,0.3);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4em;
  color: white;
  text-align: center;
}

.iconku {
  margin-right: 10px;
  color:black
}

.logo-nyan{
    width: 120px;
    height: 31px;
    background-image: url('./images/logo.png');
    margin: 16px 24px 16px 0;
    float: left;
    background-position: center center;
    background-size: cover;
}

/* .ant-carousel .slick-slide {
  text-align: left;
  height: 500px;
  line-height: 160px;
  background-image:URL('./images/slider-1.jpg');
  overflow: hidden;
} */

.slide-1{
  text-align: center;
  height: 500px;
  background-image:URL('./images/slider-1.jpg');
  overflow: hidden;
}

.slide-2{
  text-align: center;
  height: 500px;
  background-image:URL('./images/slider-2.jpg');
  overflow: hidden;
}

.partNyan-1{
  background-image: url('images/bg-image-1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0px 60px 0px;
  margin-bottom: 4em;
}

.partNyan-3{
  background-color: #F5F5F5;
  padding: 3em;
}

.partNyan-5{
  background-image: url('images/bg-gallery.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 60px 0px 60px 0px;
  margin-bottom: 4em;
}

.input-fruit {
border: none !important;
border-bottom: 1px solid grey !important;
}

.middleku{
  
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  
}


.overlayku:hover .imageku {
  opacity: 0.3;
}

.overlayku:hover .middleku {
  opacity: 1;
}

body {
  margin: 0;
  font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drawer-1 {
  background-image:URL('./images/post-1.jpg');
  overflow: hidden;
  text-align: center;
  height: 160px;
}

.drawer-2 {
  background-image:URL('./images/post-2.jpg');
  overflow: hidden;
  text-align: center;
  height: 160px;
}

.drawer-3 {
  background-image:URL('./images/post-3.jpg');
  overflow: hidden;
  text-align: center;
  height: 160px;
}

.drawMenu {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.7px;
}

.iconDraw {
  display: flex;
  justify-content: center;
  font-size: 22px;
}